
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeevansathi Page</title>
       <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
    
        <!-- Header Section -->
        <header>
            <img src="/jeevansathi_logo.png"  class="logo">
        </header>
        <nav>
                <a href="#">Home</a> <span class="text-white">|</span>
                <a href="#">My JeevanSathi</a> <span class="text-white">|</span>
                <a href="#">Why JeevanSathi</a> <span class="text-white">|</span>
                <a href="#">Search JeevanSathi</a> <span class="text-white">|</span>
                <a href="#">Memberships</a> <span class="text-white">|</span>
                <a href="#">Success Stories</a> <span class="text-white">|</span>
                <a href="#">JeevanSathi Shop</a><span class="text-white">|</span>
            </nav>
        </header>
    
        <!-- Welcome Message -->
        <div class="welcome-bar">
            Welcome: <b>sarvagya.prateek</b>
            <a href="#" class="main-page-link">Click here to go to main page</a>
            <a href="#" class="logout-link">Logout</a>
        </div>
    
        <!-- Form Section -->
        <div class="form-container">
            <label>Username: </label>
            <input type="text" value="VTRZ2109">
            <button class="btn">Get History</button>
        </div>
    
    </body>
    </html>
