<header>
    <
        <img src="/jeevansathi_logo.png" class="logo">
    
</header>

    <nav>
        <a href="#">Home</a> <span class="text-white">|</span>
        <a href="#">My JeevanSathi</a> <span class="text-white">|</span>
        <a href="#">Why JeevanSathi</a> <span class="text-white">|</span>
        <a href="#">Search JeevanSathi</a> <span class="text-white">|</span>
        <a href="#">Memberships</a> <span class="text-white">|</span>
        <a href="#">Success Stories</a> <span class="text-white">|</span>
        <a href="#">JeevanSathi Shop</a><span class="text-white">|</span>
    </nav>

    